---
Checks:
'clang-diagnostic-*,
clang-analyzer-*,
modernize-*,
performance-*,
readability-*,
bugprone-*,
cppcoreguidelines-*,
boost-*,
hicpp-*,
misc-*,
llvm-*,
google-*,
-modernize-use-trailing-return-type,
-misc-confusable-identifiers,
-readability-identifier-length,
-cppcoreguidelines-owning-memory,
-bugprone-easily-swappable-parameters,
-llvm-header-guard,
-llvm-include-order,
-misc-no-recursion'
FormatStyle: file
WarningsAsErrors: ''
HeaderFilterRegex: ''
UseColor: true
...
